{% extends 'base.html' %}
{% block content %}
<form>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputCli">Cliente</label>
      <input type="nome" class="form-control" id="inputCli" placeholder="nome cliente">
    </div>
    <div class="form-group col-md-3">
      <label for="inputContato">Contato</label>
      <input type="contato" class="form-control" id="inputContato" placeholder="contato">
    </div>
      <div class="form-group col-md-2">
      <label for="inputLocal">Local</label>
      <input type="local" class="form-control" id="inputLocal" placeholder="local">
    </div>
    </div>
      <div class="form-group col-md-1">
      <label for="inputData">Data</label>
      <input type="data" class="form-control" id="inputData" placeholder="data">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Endereço</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Rua dos Bobos, nº 0">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Endereço 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc.">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Cidade</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputEstado">Estado</label>
      <select id="inputEstado" class="form-control">
        <option selected>Escolher...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputCEP">CEP</label>
      <input type="text" class="form-control" id="inputCEP">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Clique em mim
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Entrar</button>
</form>
{% endblock %}