{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 col-md-offset-4">
    <h3>Cadastro de Orçamentos</h3>
<form action="" method="POST">
    {{ form.csrf_token}}
    <div class="form-group">
                {{form.cliente.label}}<br>
                {{ form.cliente(class="form-control") }}
    </div>
    <div class="form-group">
        <label>Data</label>
        {{form.data(class="form-control",placeholder="dd/mm/yyyy")}}
    </div>
    <div class="form-group">
        <label>Trabalho Descritivo</label>
        {{form.descricao(class="form-control",placeholder="descrição")}}
    </div>

    <div class="form-group">
        <label>Quantidade</label>
        {{form.quantidade(class="form-control")}}
    </div>
    <div class="form-group">
        <label>Produdo/Serviço</label>
        {{form.produto(class="form-control")}}
    </div>
    <div class="form-group">
        <label>Detalhe do Item</label>
        {{form.detalhe(class="form-control")}}
    </div>
    <div class="form-group">
        <label>Ação a ser realizada</label>
        {{form.acao(class="form-control")}}
    </div>
    <div class="form-group">
        <label>Valor</label>
        {{form.valor(class="form-control")}}
    </div>
    <div class="form-group">
        <label>Observações</label>
        {{form.observacao(class="form-control")}}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <h3> {{frase}}</h3>
</form>
</div>

{% endblock %}